@import "./Variables";
@import "./NavigationTabs";
.nav-bar {
  background: $NavBar-background;
  filter: drop-shadow(0 0 0.4rem black);

  .nav-bar-content {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto 0 0;
    .Home-button {
      display: flex;
      align-items: center;

      .Home-link {
        &:hover {
          text-decoration: underline;
        }
        color: $font-color;
        padding: 2rem;
        text-decoration: none;
        font-size: $font2;
        font-family: Varela;
      }
    }
    .navigation-links {
      display: flex;
      list-style-type: none;
      align-items: center;

      li {
        p {
          font-size: 1.4rem;
          display: flex;
          padding-left: 0.5rem;
        }
        .navigation-link {
          transition: all ease 0.3s;
          &:hover {
            text-decoration: underline;
          }
          color: $font-color;
          padding: 2rem;
          text-decoration: none;
          font-size: $font2;
          font-family: Varela;
        }
      }
    }
  }
}
.website-body {
  display: flex;
  .side-bar {
  }
}

.footer {
  background: $NavBar-background;
  margin-top: 10rem;
  filter: drop-shadow(0 0 0.2rem black);
  .footer-content {
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    .footer-copyright-text {
      p {
        font-size: $font3;
      }
    }
    .footer-links {
      .footer-link {
        display: flex;

        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        p {
          padding: 1rem;
          font-size: $font2;
        }
      }
    }
  }
}
