//colors
//green palette
$primary-green: #000b09;
$secondary-green: #3c5c67;

//blue palette
$primary-blue: #a4b8d2;
$secondary-blue: #d7c294; //keep in mind that this secondary blue is cream/beige

//green shades
$green-NavBar-background: #0b2e2d;
$green-font-color: #93d5ec;
$green-font-background: #001f19;
$green-lineargradient: linear-gradient(75deg, #000b09, #031b1a);

//blue shades

$blue-NavBar-background: #6e98ce;
$blue-home-introduction-background: #3476cc;
$blue-font-color: #f8be40;
$blue-font-background: #6090cf;
$blue-lineargradient: linear-gradient(285deg, #1652a0, #1652a0);

.green-theme {
  $home-introduction-background: #012e25;
  $NavBar-background: #0b2e2d;
  $font-color: #93d5ec;
  $font-background: #001f19;
  $lineargradient: linear-gradient(75deg, #000b09, #031b1a);
}
.blue-theme {
  $home-introduction-background: #3476cc;
  $NavBar-background: #6e98ce;
  $font-color: #f8be40;
  $font-background: #6090cf;
  $lineargradient: linear-gradient(285deg, #1652a0, #1652a0);
}
//fonts
@font-face {
  font-family: Varela;
  src: url("./fonts/VarelaRound-Regular.ttf");
}
$font1: 4rem;
$font2: 2.5rem;
$font3: 1.5625rem;
$font4: 0.977rem;
