.blue-theme body {
  background-image: linear-gradient(285deg, #1652a0, #1652a0);
}

.blue-theme * {
  color: #f8be40;
}

.blue-theme .nav-bar {
  background: #6e98ce;
}

.blue-theme .nav-bar .nav-bar-content .Home-button .Home-link {
  color: #f8be40;
}

.blue-theme .nav-bar .nav-bar-content .navigation-links li .navigation-link {
  color: #f8be40;
}

.blue-theme .footer {
  background: #6e98ce;
}

.blue-theme .portfolio-wrapper .portfolio-introduction {
  background: #3476cc;
}

.blue-theme .generalprices-wrapper {
  background: #6090cf;
}

@font-face {
  font-family: Varela;
  src: url("./fonts/VarelaRound-Regular.ttf");
}

.blue-theme body {
  background-image: linear-gradient(285deg, #1652a0, #1652a0);
}

.blue-theme * {
  color: #f8be40;
}

.blue-theme .nav-bar {
  background: #6e98ce;
}

.blue-theme .nav-bar .nav-bar-content .Home-button .Home-link {
  color: #f8be40;
}

.blue-theme .nav-bar .nav-bar-content .navigation-links li .navigation-link {
  color: #f8be40;
}

.blue-theme .footer {
  background: #6e98ce;
}

.blue-theme .portfolio-wrapper .portfolio-introduction {
  background: #3476cc;
}

.blue-theme .generalprices-wrapper {
  background: #6090cf;
}

@font-face {
  font-family: Varela;
  src: url("./fonts/VarelaRound-Regular.ttf");
}

.nav-buttons {
  text-decoration: none;
}

.nav-bar {
  background: #0b2e2d;
  -webkit-filter: drop-shadow(0 0 0.4rem black);
          filter: drop-shadow(0 0 0.4rem black);
}

.nav-bar .nav-bar-content {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90%;
  margin: 0 auto 0 0;
}

.nav-bar .nav-bar-content .Home-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .nav-bar-content .Home-button .Home-link {
  color: #93d5ec;
  padding: 2rem;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: Varela;
}

.nav-bar .nav-bar-content .Home-button .Home-link:hover {
  text-decoration: underline;
}

.nav-bar .nav-bar-content .navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .nav-bar-content .navigation-links li p {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.5rem;
}

.nav-bar .nav-bar-content .navigation-links li .navigation-link {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #93d5ec;
  padding: 2rem;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: Varela;
}

.nav-bar .nav-bar-content .navigation-links li .navigation-link:hover {
  text-decoration: underline;
}

.website-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background: #0b2e2d;
  margin-top: 10rem;
  -webkit-filter: drop-shadow(0 0 0.2rem black);
          filter: drop-shadow(0 0 0.2rem black);
}

.footer .footer-content {
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  margin: auto;
}

.footer .footer-content .footer-copyright-text p {
  font-size: 1.5625rem;
}

.footer .footer-content .footer-links .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.footer .footer-content .footer-links .footer-link:hover {
  text-decoration: underline;
}

.footer .footer-content .footer-links .footer-link p {
  padding: 1rem;
  font-size: 2.5rem;
}

.portfolio-wrapper {
  max-width: 80%;
  margin: 0 auto 0 auto;
}

.portfolio-wrapper .portfolio-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40vh;
  background: #001f19;
  padding: 5rem;
  margin: 8rem 0;
  border-radius: 2%;
}

.portfolio-wrapper .portfolio-introduction .portfolio-introduction-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
}

.portfolio-wrapper .portfolio-introduction .portfolio-introduction-text-box h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.portfolio-wrapper .portfolio-introduction .portfolio-introduction-text-box p {
  font-size: 2.5rem;
}

.portfolio-wrapper .portfolio-introduction .portfolio-introduction-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
}

.portfolio-wrapper .portfolio-introduction .portfolio-introduction-image img {
  -webkit-filter: drop-shadow(0 0 0.5rem black);
          filter: drop-shadow(0 0 0.5rem black);
  width: 50%;
  border-radius: 2%;
}

.portfolio-wrapper .portfolio-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[9];
      grid-template-rows: repeat(9, 5vw);
  grid-gap: 100px;
}

.portfolio-wrapper .portfolio-gallery .portfolio-img-container img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.portfolio-wrapper .portfolio-gallery .portfolio-img-container .image-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-wrapper .portfolio-gallery .portfolio-img-container .image-description p {
  padding-top: 1rem;
  font-size: 1.5625rem;
}

.portfolio-wrapper .portfolio-gallery .image1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.portfolio-wrapper .portfolio-gallery .image1 .text-one {
  padding-left: 3.4rem;
}

.portfolio-wrapper .portfolio-gallery .image1 .text-two {
  padding-right: 3.4rem;
}

.portfolio-wrapper .portfolio-gallery .image2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.portfolio-wrapper .portfolio-gallery .image2 .text-one {
  padding-left: 1rem;
}

.portfolio-wrapper .portfolio-gallery .image2 .text-two {
  padding-right: 1rem;
}

.portfolio-wrapper .portfolio-gallery .image3 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.portfolio-wrapper .portfolio-gallery .image3 .text-one {
  padding-left: 4.5rem;
}

.portfolio-wrapper .portfolio-gallery .image3 .text-two {
  padding-right: 4.5rem;
}

.portfolio-wrapper .portfolio-gallery .image4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
}

.portfolio-wrapper .portfolio-gallery .image4 .text-one {
  padding-left: 12.6rem;
}

.portfolio-wrapper .portfolio-gallery .image4 .text-two {
  padding-right: 12.6rem;
}

.portfolio-wrapper .portfolio-gallery .image5 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
}

.portfolio-wrapper .portfolio-gallery .image5 .text-one {
  padding-left: 11rem;
}

.portfolio-wrapper .portfolio-gallery .image5 .text-two {
  padding-right: 11rem;
}

.portfolio-wrapper .portfolio-gallery .image6 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
}

.portfolio-wrapper .portfolio-gallery .image6 .text-one {
  padding-left: 15rem;
}

.portfolio-wrapper .portfolio-gallery .image6 .text-two {
  padding-right: 15rem;
}

.generalprices-wrapper {
  overflow-x: hidden;
  max-width: 80%;
  background: #001f19;
  padding: 5rem;
  margin: 10rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.generalprices-wrapper .header-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.generalprices-wrapper .header-text-container .header-text {
  font-size: 4rem;
}

.generalprices-wrapper .header-text-container .subheader-text {
  font-size: 2.5rem;
}

.generalprices-wrapper .pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 200vh;
}

.generalprices-wrapper .pricing .pricing-type-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.generalprices-wrapper .pricing .pricing-type-one .pricing-image {
  max-width: 60%;
}

.generalprices-wrapper .pricing .pricing-type-one .pricing-image img {
  max-width: 70%;
}

.generalprices-wrapper .pricing .pricing-type-one .pricing-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 4rem;
  font-size: 2.5rem;
}

.generalprices-wrapper .pricing .pricing-type-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.generalprices-wrapper .pricing .pricing-type-two .pricing-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 60%;
}

.generalprices-wrapper .pricing .pricing-type-two .pricing-image img {
  max-width: 70%;
}

.generalprices-wrapper .pricing .pricing-type-two .pricing-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  font-size: 2.5rem;
  width: 125rem;
}

.generalprices-wrapper .pricing .pricing-type-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.generalprices-wrapper .pricing .pricing-type-three .pricing-image {
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.generalprices-wrapper .pricing .pricing-type-three .pricing-image img {
  max-width: 75%;
}

.generalprices-wrapper .pricing .pricing-type-three .pricing-text {
  font-size: 2.5rem;
}

.nav-buttons {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Robot", sans-serif;
  scroll-behavior: smooth;
  color: #93d5ec;
}

body {
  background-image: linear-gradient(75deg, #000b09, #031b1a);
}

html {
  font-size: 62.5%;
}
/*# sourceMappingURL=App.css.map */