@import "./Variables";
@import "./Animations";
@import "./Mixins";
@import "./NavBar";
@import "./Home";
@import "./GeneralPrices";
@import "./ThemeChanger";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Varela;
  scroll-behavior: smooth;
  color: $blue-font-color;
}
body {
  background-image: $blue-lineargradient;
}
html {
  font-size: 62.5%;
}
