@font-face {
  font-family: Varela;
  src: url("./fonts/VarelaRound-Regular.ttf");
}

@font-face {
  font-family: Varela;
  src: url("./fonts/VarelaRound-Regular.ttf");
}

.nav-bar {
  background: #6e98ce;
}

.nav-bar .nav-bar-content {
  position: relative;
  overflow: hidden;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.nav-bar .nav-bar-content .Home-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .nav-bar-content .Home-button .Home-link {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #f8be40;
  padding: 2rem;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: Varela;
}

.nav-bar .nav-bar-content .Home-button .Home-link:hover {
  background: #113635;
}

.nav-bar .nav-bar-content .navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .nav-bar-content .navigation-links li .navigation-link {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #f8be40;
  padding: 2rem;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: Varela;
}

.nav-bar .nav-bar-content .navigation-links li .navigation-link:hover {
  background: #113635;
}

.portfolio-wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.portfolio-wrapper .portfolio-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40vh;
  background: #3476cc;
  padding: 5rem;
  margin: 8rem 0;
}

.portfolio-wrapper .portfolio-introduction .portfolio-introduction-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
}

.portfolio-wrapper .portfolio-introduction .portfolio-introduction-text-box h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.portfolio-wrapper .portfolio-introduction .portfolio-introduction-text-box p {
  font-size: 2.5rem;
}

.portfolio-wrapper .portfolio-introduction .portfolio-introduction-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-wrapper .portfolio-introduction .portfolio-introduction-image img {
  -webkit-filter: drop-shadow(0 0 0.5rem black);
          filter: drop-shadow(0 0 0.5rem black);
  border-radius: 5px;
  max-width: 70%;
}

.portfolio-wrapper .portfolio-gallery {
  min-height: 150vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[3];
      grid-template-columns: repeat(3, minmax(20rem, 1fr));
  row-gap: 20rem;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
}

.portfolio-wrapper .portfolio-gallery .portfolio-img-container img {
  -webkit-filter: drop-shadow(0 0 0.5rem black);
          filter: drop-shadow(0 0 0.5rem black);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-wrapper .portfolio-gallery .portfolio-img-container .image-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-wrapper .portfolio-gallery .portfolio-img-container .image-description p {
  font-size: 1.5625rem;
}

.generalprices-wrapper {
  overflow-x: hidden;
  max-width: 90%;
  background: #6090cf;
  padding: 5rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.generalprices-wrapper .header-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.generalprices-wrapper .header-text-container .header-text {
  font-size: 4rem;
}

.generalprices-wrapper .header-text-container .subheader-text {
  font-size: 2.5rem;
}

.generalprices-wrapper .pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 200vh;
}

.generalprices-wrapper .pricing .pricing-type-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.generalprices-wrapper .pricing .pricing-type-one .pricing-image {
  max-width: 60%;
}

.generalprices-wrapper .pricing .pricing-type-one .pricing-image img {
  max-width: 70%;
}

.generalprices-wrapper .pricing .pricing-type-one .pricing-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 4rem;
  font-size: 2.5rem;
}

.generalprices-wrapper .pricing .pricing-type-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.generalprices-wrapper .pricing .pricing-type-two .pricing-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 60%;
}

.generalprices-wrapper .pricing .pricing-type-two .pricing-image img {
  max-width: 70%;
}

.generalprices-wrapper .pricing .pricing-type-two .pricing-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 2.5rem;
}

.generalprices-wrapper .pricing .pricing-type-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.generalprices-wrapper .pricing .pricing-type-three .pricing-image {
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.generalprices-wrapper .pricing .pricing-type-three .pricing-image img {
  max-width: 75%;
}

.generalprices-wrapper .pricing .pricing-type-three .pricing-text {
  font-size: 2.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

input:checked + .slider {
  background: #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.rounded {
  border-radius: 34px;
}

.slider.rounded::before {
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Varela;
  scroll-behavior: smooth;
  color: #f8be40;
}

body {
  background-image: linear-gradient(285deg, #1652a0, #1652a0);
}

html {
  font-size: 62.5%;
}
/*# sourceMappingURL=App.css.map */