@import "./Variables";
@import "./Animations";
@import "./NavBar";
@import "./Home";
@import "./GeneralPrices";
@import "./NavigationTabs";

//@import "./ThemeChanger";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Robot", sans-serif;
  scroll-behavior: smooth;
  color: $font-color;
}
body {
  background-image: $lineargradient;
}
html {
  font-size: 62.5%;
}
